[hyperparams]
model_name_str = MACM
batch_size = 64
vocab_size = 400002
emb_dim = 300
n_gramsets = 1
n_filters1 = [32]
n_filters2 = [16]
kernel_sizes1 = [(3, 3)]
kernel_sizes2 = [(1, 10)]
conv_strides = [(1, 1)]
pool_sizes0 = [(2, 2)]
pool_sizes1 = [(2, 2)]
pool_sizes2 = [(2, 2)]
pool_strides = [(1, 2)]
n_hidden_layers = 1
hidden_sizes = [256]
hinge_margin = 1.0
train_datablock_size = 3000
q_sample_size = 300
docpair_sample_size = 50
n_epoch = 50
alpha = 1e-5
q_len = 15
d_len = 1000
data_base_path = /scratch/data/
model_base_path = /scratch/models/
